<%= render 'header' %>

<h2>Products Ordered</h2>


<% @line_items.each do |line_item| %>
	
	<div class="checkoutproducts">
		<%= image_tag line_item.product.image_filename, width: '150' %>
		<p>Name: <%= line_item.product.name %></p>
		<p>Quantity: <%= line_item.quantity %></p>
	</div>
<% end %>
